blinker
certifi
charset-normalizer
click
colorama
dnspython
filelock
Flask
flask-cors
fsspec
gunicorn
huggingface-hub
idna
itsdangerous
Jinja2
joblib
MarkupSafe
mpmath
networkx
nltk
numpy
packaging
pymongo
PyYAML
regex
requests
safetensors
scikit-learn
scipy
setuptools
sympy
threadpoolctl
tokenizers
torch
tqdm
transformers
typing_extensions
urllib3
Werkzeug