@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  touch-action: none;
  -webkit-text-size-adjust: none;
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  position: fixed;
  width: 100%;
  touch-action: none;
}

#root {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  input, textarea {
    font-size: 16px !important;
    -webkit-appearance: none;
    appearance: none;
  }
}

@media screen and (min-width: 769px) {
  input, textarea {
    font-size: 14px;
  }
}
